.search-area {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

input {
  text-align: center;
}

.middle {
  margin: 20px 0;
}