* {
    text-align: center;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    min-width: 120px;
    padding: 5px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
}

.table-wrapper {
    
}